<!DOCTYPE html>
<!--<h1> STUDENT PROBA !!!gulp</h1>-->


<div class="panel panel-success">
  <div class="panel-heading">
    <h4>Add or update {{vm.title}}</h4>
  </div>
  <form ng-submit="vm.save()" name="form">
    <div class="panel-body">

      <div class="form-group">
        <div class="row">
          <div class="col-md-6">
            <!--<label>Name</label>
            <input class="form-control" type="text" ng-required="true" ng-model="vm.studentEntity.name">-->

            <!-- komponentata wp-input ja vrski istata rabota kako zakomentiranoto parce kod gore-->
            <wp-input wp-label="Name"
                      wp-type="text"
                      wp-model="vm.studentEntity.name"
                      wp-required="true"
                      wp-focus="true">
            </wp-input>
          </div>
          <div class="col-md-6">
            <!--<label> Surname </label>
            <input class="form-control" type="text" ng-required="true" ng-model="vm.studentEntity.surename">-->

            <!-- komponentata wp-input ja vrski istata rabota kako zakomentiranoto parce kod gore-->
            <wp-input wp-label="Surename"
                      wp-type="text"
                      wp-model="vm.studentEntity.surename"
                      wp-required="true">
            </wp-input>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-md-6">
            <!--<label> Index </label>
            <input type="text" class="form-control" ng-required="true" ng-model="vm.studentEntity.index">-->

            <!-- komponentata wp-input ja vrski istata rabota kako zakomentiranoto parce kod gore-->
            <wp-input wp-label="Index"
                      wp-type="number"
                      wp-model="vm.studentEntity.index"
                      wp-required="true">
            </wp-input>
          </div>
          <!-- dropdown za grupite-->
          <div class="col-md-6">
            <!--<label>Select your Lab group</label>
            <ui-select ng-model="vm.studentEntity.LabGroup"
                       ng-required="true"
                       title="Lab group ">
              <ui-select-match
                placeholder="Select your Lab group...">
                <span>{{$select.selected.name}}</span>
              </ui-select-match>
              <ui-select-choices
                repeat="group in (vm.LabGroups | filter:$select.search)"
                position="auto">
                {{group.name}}
              </ui-select-choices>
            </ui-select>-->
            <!-- mesto zakomentiranoto gore -->
            <group-select gs-model="vm.studentEntity.LabGroup"></group-select>
          </div>

        </div>
      </div>
    </div>
    <div class="panel-footer text-right">
      <div class="panel panel-danger text-center text-danger" ng-show="vm.saveErrMsg">
        {{vm.saveErrMsg}}
      </div>
      <div class="panel panel-success text-center text-success" ng-show="vm.saveOkMsg">
        {{vm.saveOkMsg}}
      </div>
      <button class="btn btn-default" type="reset"
              ng-click="vm.clear()">
        <i class="fa fa-fw fa-refresh"></i>
        Clear
      </button>
      <button class="btn btn-primary"
              type="submit"
              ng-disabled="form.$invalid">
        <i class="fa fa-fw fa-save"></i>
        Save
      </button>
    </div>

  </form>
</div>
<!-- Lista od studenti -->
<div class="row">
    <div class="col-md-12">
    <table st-table="studentEntities" st-safe-src="vm.studentEntities" ng-show="vm.studentEntities.length>0" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th st-sort="name">Name</th>
          <th st-sort="surename">Surename</th>
          <th st-sort="index">Index</th>
          <th st-sort="LabGroup.name">Group</th>
          <th>Actions</th>
        </tr>
        <tr>
          <th colspan="5"> <input placeholder="search by index..." st-search="index" st-delay="400" type="search" class="form-control"/> </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="e in studentEntities">
          <td>{{e.name}}</td>
          <td>{{e.surename | uppercase}}</td>
          <td>{{e.index}}</td>
          <td>{{e.LabGroup.name}} </td>
          <td>
            <button class="btn btn-xs btn-default"
                    ng-click="vm.edit(e)">
              Edit
            </button>
            <button class="btn btn-xs btn-danger"
                    ng-click="vm.remove(e)">
              Remove
            </button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="5" class="text-center">
            <div st-pagination="" st-items-by-page="3" st-displayed-pages="3"></div>
          </td>
        </tr>
      </tfoot>
    </table> </br>

    <div class="panel panel-warning text-warning" ng-hide="vm.studentEntities.length>0">
      There are no students!
    </div>
  </div>
</div>
